/* Entire Document */
body {
    background-color: #Faf8f6;
    font-family: "Roboto Mono", monospace;
}
#navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    border-bottom: solid 2px #1f1c1c;
    top: 0;
    background-color: #Faf8f6;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    width: auto;
    z-index: 100;
}
.icon {
    color: #FD5523;
}
.icon:focus {
    color: #1f1c1c;
}
#navTitle {
    text-decoration: none;
}
#myLinks {
    display: none;
}
.gg-menu-grid-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
}
.gg-menu-grid-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 4px;
    background: currentColor;
    box-shadow:
    0 6px 0,
    6px 6px 0,
    12px 6px 0,
    6px 12px 0,
    12px 12px 0,
    6px 0 0,
    12px 0 0,
    0 12px 0;
} 
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a {
    padding: 15px;
}
.dropdown-content {
    display: block;
    position: absolute;
    border: solid black;
    border-width: 1.5px;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    min-width: 200px;
    z-index: 1;
    left: -209px;
    top: 42px;
    background-color: rgba(249, 249, 249, .6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
header {
    color:#FD5523;
}
h1 {
    color: #1f1c1c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h2 {
    color: #1f1c1c;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px; 
}
p {
    color: #1f1c1c;
}
ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: flex;
    color: #1f1c1c;
    padding: 20px 20px;
    text-decoration: none;
}
#fireFeeLink.active, #volumeLink.active, #shrinkLink.active, #costToFireLink.active, #shrinkTestLink.active {
    color: #Faf8f6;
    background-color: #FD5523;
    backdrop-filter: blur(5px);
}
#fireFeeLink:hover, #volumeLink:hover, #shrinkLink:hover,#costToFireLink:hover ,#shrinkTestLink:hover {
    text-decoration: underline;
}
#break {
    flex-basis: 100%;
    height: 0;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    height: auto;
    position: inherit;
    margin-top: 2px;
    padding-left: 1%;
    padding-right: 1%;
}
#footerLinks {
    justify-self: end;
    text-align: right;
}
.responsive {
    max-width: 100%;
    height: auto;
}



/* Home */
#heroSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 5%;
    padding-top: 2%;
}
#heroH1 {
    font-size: 56px;
    padding-left: 10%;
    justify-self: end;
    text-align: start;
}

#heroSection2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: auto;
    height: 300px;
    justify-items: center;
}

#emailLink {
    padding-right: 5px;
    color: #FD5523;
}
#cardFilter {
    border-top: #1f1c1c;
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-left: 1%;
    padding-right: 1%;
}
#card {
    border: solid #1f1c1c;
    background-color: #Faf8f6;
    padding: 20%;
    padding-left: 20%;

}
#card p {
    max-width: 250px;
}
#comingSoonCard {
    border: solid #1f1c1c;
    background-color: #Faf8f6;
    padding: 20%;
    padding-left: 30%;
    
}
#comingSoonCard p {
    max-width: 250px;
    filter: blur(5px);
    image-rendering: pixelated;

}
#calculatorCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 20px;
    border-bottom: solid 2px #1f1c1c;
}
.contentContainer a {
    text-decoration: none;
    color: #1f1c1c;
}
#card:hover {
    border-left: solid #FD5523;
    background-color: #8c9eff;

}
#space {
    padding-left: 3px;
}
#homeShareButton {
    border: none;
    color:#FD5523;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    padding: 5px;
    text-align: left;
}
#homeShareButton:hover {
    border: none;
    color:#FD5523;
    font-weight: 400;
    background-color: #Faf8f6;
}


/* CALCULATOR PAGE STRUCTURE */
#calculatorPageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
    height: 80vh;
    background-color: #Faf8f6;
    border-width: 5px;
    border-radius: 6px;
}
#calculatorHeader {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #8c9eff;
    border: solid #1f1c1c;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    padding: 10px;

}

#calculatorAbout {
    padding-left: 10px;
    max-width: 70vw;
}
#formContainerGrid {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #Faf8f6;
    border-radius: 6px;
    border: solid #1f1c1c;
    padding: 15px;
}
#calculatorVisualize {
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #Faf8f6;
    border-radius: 6px;
    border: solid #1f1c1c;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#results {
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #Faf8f6;
    border-radius: 6px;
    border-width: 1px;
    border: solid #1f1c1c;
    padding: 10px;
}

#calculatorTitle {
    color: #1f1c1c;
    font-weight: 400;
    padding: 10px;
}
#formContainer {
    background-color: hsl(30, 29%, 97%);
    width: 80vw;
}
#calculatorVisual {
    background-color: #FD5523;
    width: 40vw;
    border: solid #FD5523;
}
#calculatorButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-top: 15px;
}
button {
    font-family: "Roboto Mono", monospace;
    background-color: #Faf8f6;
    font-weight: 400;
    font-size: small;
    border: solid #FD5523;
    border-radius: 4px;
    color: #FD5523;
    margin-bottom: 10px;
    width: fit-content;
}
button:focus {
    color:#Faf8f6;
    background-color: #FD5523;
    border: solid #FD5523;
}
#buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 2px;
    font-size: smaller;
    flex-wrap: wrap;
}
label {
    margin-bottom: 30px;
    margin-right: 20px;
    color: #1f1c1c;
    padding-right: 125px;
}
input {
    width: 30vw;
    height: .2vh;
    margin-bottom: 10px;
    margin-right: 50px;
    color: #1f1c1c;
    border-color:#1f1c1c;
    background-color: #Faf8f6;
    border-radius: 6px;
    border-width: 1px;
    font-family: "Roboto Mono", monospace;
    padding: 10px;
}
.result {
    display: flex;
    flex-wrap: wrap;
    color: #1f1c1c;
}
#resultBlock {
    background-color: #Faf8f6;
    border: solid #1f1c1c;
    width: 40vw;
    max-width: 300px;
    border-radius: 6px;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    align-self: center;
    justify-self: center;
    height: 10vh;
}
#visualBlock {
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 40vw;
    border-width: 1px;
}
img#visualBlock {
    max-width: 300px;
    max-height: 300px;
}


/* Shrink Rate Calculator */

/* Volume Calculator */

/* Firing Fee Calculator */

@media screen and (min-width: 801px) { 
    #calculatorName {
        display: none;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 800px) {
    #header.responsive{
        position: relative;
    }
    #navContainer.responsive {
        position: relative;
    }
    #formContainer.responsive {
        position: relative;
    }
    #calculatorCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #heroSection {
        grid-template-columns: 1fr;
    }
    #heroSection2 {
        display: none;
    }

    #calculatorPageGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 2fr;
        gap: 5px;
        height: 80vh;
        background-color: #Faf8f6;
        border-width: 5px;
        border-radius: 6px;
    }
    #calculatorName {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: #8c9eff;
        border: solid #1f1c1c;
        border-radius: 6px;
        padding: 10px;
    }
    #calculatorHeader {
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: #8c9eff;
        border: solid #1f1c1c;
        border-radius: 6px;
        padding: 10px;
    }
    #formContainerGrid {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: #Faf8f6;
        border-radius: 6px;
        border: solid #1f1c1c;
        padding: 15px;
    }
    #calculatorVisualize {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: #Faf8f6;
        border-radius: 6px;
        border: solid #1f1c1c;
        padding: 10px;
    
    }
    #results {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: #Faf8f6;
        border-radius: 6px;
        border-width: 1px;
        border: solid #1f1c1c;
        padding: 10px;
        height: 20vh;
    }
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 25px;
    }
    #heroH1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 900px) {
    #navContainer {
        width: auto;
    }
    #formContainer {
        font-size: smaller;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
    }
    h2 {
        margin: 5px;
    }
    button {
        font-size: 12px;
        border-width: 1px;
    }
    #calculatorPage {
        gap: 5px;
    }
    #resultBlock {
        font-size: smaller;
        border-width: 1px;
    }

}

::selection{
    color: #fff;
    background: #FD5523;
  }
  .view-modal{
    position: relative;
  }
.view-modal:hover {
    color: #FD5523;
    border-color: #1f1c1c;
    font-weight: 600;
  }
.popup {
    position: absolute;
  }
.share-container {
    position: relative;
    display: inline-block;
}

.view-modal {
    position: relative;
    color: #FD5523;
    background-color: #Faf8f6;
    border-color: #FD5523;
    font-weight: 400;
    font-size: small;
    padding: 1px 6px;
    margin: 10px;
    transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}
.popup {
    display: none;
    background: rgb(255, 254, 254);
    padding: 30px;
    border-radius: 6px;
    top: 10%;
    max-width: 300px;
    height: 270px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: translateY(-10px) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
  }
.popup.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-90%) scale(1);
    width: 50vw;
    z-index: 101;
  }
.popup :is(header, .icons, .field){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
.popup header{
    padding-bottom: 10px;
    border-bottom: 1px solid #ebedf9;
  }
header span{
    font-size: 21px;
    font-weight: 600;
  }
header .close, .icons a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
} 
header .close{
    color: #878787;
    font-size: 17px;
    background: #f3f3f3;
    height: 33px;
    width: 33px;
    cursor: pointer;
  }
  cursor {
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  header .close:hover{
    background: #ebedf9;
  }
  .popup .content{
    margin: 20px 0;
  }
  .popup .icons{
    margin: 15px 0 20px 0;
  }

  .content p{
    font-size: 16px;
  }
  .content .icons a{
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
  }
  .icons a i{
    transition: transform 0.3s ease-in-out;
  }
  .icons a:nth-child(1){
    color: #1877F2;
    border-color: #b7d4fb;
  }
  .icons a:nth-child(1):hover{
    background: #1877F2;
  }
  .icons a:nth-child(2){
    color: #e1306c;
    border-color: #f5bccf;
  }
  .icons a:nth-child(2):hover{
    background: #e1306c;

  }
  .icons a:nth-child(3){
    color: #f9f9f9;
    border-color: #878787;
  }
  .icons a:nth-child(3):hover{
    background: #b7b7b7;
  }
  .icons a:nth-child(4){
    color: #25D366;
    border-color: #bef4d2;
  }
  .icons a:nth-child(4):hover{
    background: #25D366;
  }
#twitter-x:hover {
    transform: scale(1.2);
}
  .icons a:hover{
    color: #fff;
    border-color: transparent;
  }

  .icons a:hover i{
    transform: scale(1.2);
  }
  .content .field{
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #757171;
  }
  .field.active{
    border-color: #334eac;
  }
  .field i{
    width: 50px;
    font-size: 18px;
    text-align: center;
  }
  .field.active i{
    color: #334eac;
  }
  .field input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    margin: 0px;    
    padding: 0px;
    background-color: #fffeff;
}
  .field button{
    color: #fff;
    padding: 10px;
    margin: 10px;
    background: #FD5523;
    border: none;
  }
  .field button:hover{
    background: #FD5523;
  }