/* Entire Document */

body {
    background-color: #Faf8f6;
    font-family: "Roboto Mono", monospace;
}

#navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #Faf8f6;
    padding-left: 1%;
    padding-right: 1%
}
.icon {
    color: #FD5523;
}
#navTitle {
    text-decoration: none;
}
#myLinks {
    display: none;
}



.gg-menu-grid-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
   }
   
.gg-menu-grid-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 4px;
    background: currentColor;
    box-shadow:
    0 6px 0,
    6px 6px 0,
    12px 6px 0,
    6px 12px 0,
    12px 12px 0,
    6px 0 0,
    12px 0 0,
    0 12px 0
    ;
} 

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a {
    padding: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -190px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
header {
    color:#FD5523;
 }
 
h1 {
    color: #FD5523;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }
 
h2 {
    color: #FD5523;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px; 
 }

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
button {
    font-family: "Roboto Mono", monospace;
    width: 505px;
    background-color: #Faf8f6;
    font-weight: normal;
    font-size: large;
    border: solid;
    border-radius: 4px;
    color: #FD5523;
    border-color: #FD5523;
    flex-direction: row;
    margin-bottom: 10px;
}
button:focus {
    color:#Faf8f6;
    background-color: #FD5523;
}
label {
    margin-bottom: 30px;
    margin-right: 20px;
    flex-direction: row;
    align-items: baseline;
    color: #FD5523;
}
input {
    width: 500px;
    margin-bottom: 30px;
    margin-right: 20px;
    flex-direction: row;
    align-items: baseline;
    color: #FD5523;
    border-top: none;
    border-color:#FD5523;
    background-color: #Faf8f6;
}
.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #3F0DCD;
}
#formContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    padding-left: 15%;
}
#textContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 75px;
}
li a {
    display: flex;
    color: #1f1c1c;
    padding: 20px 20px;
    text-decoration: none;
  }
#fireFeeLink.active, #volumeLink.active, #shrinkLink.active {
    color: #F5580A;
    text-decoration: underline;
}
#fireFeeLink:hover, #volumeLink:hover, #shrinkLink:hover {
    color: #F5580A;
}
#break {
    flex-basis: 100%;
    height: 0;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* Home */
.responsive {
    max-width: 100%;
    height: auto;
}
#heroSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 5%;
}
#heroH1 {
    font-size: 60px;
}
#heroH2 {
    color: #1f1c1c;
    font-size: larger;
    width: 350px;
}
#heroSection2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 300px;
    padding: 10%;
    padding-left: 25%;
}
#emailLink {
    padding-right: 5px;
    color: #FD5523;
}
#nestingTop {
    
}
#nestingBottom {

}
#cardFilter {
    border-top: #1f1c1c;
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-left: 1%;
    padding-right: 1%;
}
#card {
    border: #FD5523;
    background-color: #FD5523;
    padding: 10%;
    padding-left: 20%;
}
#card p {
    max-width: 250px;
}
#calculatorCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    grid-template-rows: 1fr;
    row-gap: 25px;
    column-gap: 25px;
    padding-left: 1%;
    padding-right: 1%;
}
.contentContainer a {
    text-decoration: none;
    color: #1f1c1c;
}
#card:hover {
    background: rgba(253, 85, 35, 0.9);
}
/* Shrink Rate Calculator */

/* Volume Calculator */

/* Firing Fee Calculator */

/* Technical Documentation 
#techLink.active {
    color: #1f1c1c;
    border-left: solid;
    border-color: #1f1c1c;
    border-left-width: 5px;
}
#techLink:hover {
    color: #1f1c1c;
    border-left: solid;
    border-color: #1f1c1c;
    border-left-width: 5px;
}*/


/* media queries 
@media screen and (max-width: 1279px) {
}

@media screen and (min-width: 660px) {
    .gg-menu {
        transform: scale(var(--ggs,1))
       }
       
       .gg-menu,
       .gg-menu::after,
       .gg-menu::before {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 3px;
        background: currentColor
       }
       
       .gg-menu::after,
       .gg-menu::before {
        content: "";
        position: absolute;
        top: -6px
       }
       
       .gg-menu::after {
        top: 6px
       } 
}
@media screen and (min-width:1280px) {
    .gg-menu {
        display: none;
    }
}
*/

@media screen and (max-width: 800px) {
    #navContainer.responsive {
        position: relative;
    }
    #formContainer.responsive {
        position: relative;
    }
    #calculatorCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #heroSection {
        grid-template-columns: 1fr;
    }
    #heroSection2 {
        display: none;
    }
  }