/* Entire Document */
body {
    background-color: #Faf8f6;
    font-family: "Roboto Mono", monospace;
}
#navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #Faf8f6;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
}
.icon {
    color: #FD5523;
}
#navTitle {
    text-decoration: none;
}
#myLinks {
    display: none;
}
.gg-menu-grid-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
}
.gg-menu-grid-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 4px;
    height: 4px;
    background: currentColor;
    box-shadow:
    0 6px 0,
    6px 6px 0,
    12px 6px 0,
    6px 12px 0,
    12px 12px 0,
    6px 0 0,
    12px 0 0,
    0 12px 0;
} 
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a {
    padding: 15px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -190px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
header {
    color:#FD5523;
}
h1 {
    color: #FD5523;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
    color: #1f1c1c;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px; 
}
p {
    color: #1f1c1c;
}
ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: flex;
    color: #1f1c1c;
    padding: 20px 20px;
    text-decoration: none;
}
#fireFeeLink.active, #volumeLink.active, #shrinkLink.active {
    color: #F5580A;
    text-decoration: underline;
}
#fireFeeLink:hover, #volumeLink:hover, #shrinkLink:hover {
    color: #F5580A;
}
#break {
    flex-basis: 100%;
    height: 0;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 200;
    height: auto;
    position: inherit;
}
.responsive {
    max-width: 100%;
    height: auto;
}



/* Home */
#heroSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 5%;
}
#heroH1 {
    font-size: 60px;
}
#heroH2 {
    color: #1f1c1c;
    font-size: larger;
    width: 350px;
}
#heroSection2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 300px;
    padding: 10%;
    padding-left: 25%;
}
#emailLink {
    padding-right: 5px;
    color: #FD5523;
}
#cardFilter {
    border-top: #1f1c1c;
    border-width: 2px;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-left: 1%;
    padding-right: 1%;
}
#card {
    border: #FD5523;
    background-color: #FD5523;
    padding: 10%;
    padding-left: 20%;
}
#card p {
    max-width: 250px;
}
#calculatorCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    grid-template-rows: 1fr;
    row-gap: 25px;
    column-gap: 25px;
    padding-left: 1%;
    padding-right: 1%;
}
.contentContainer a {
    text-decoration: none;
    color: #1f1c1c;
}
#card:hover {
    background: rgba(253, 85, 35, 0.9);
}
#space {
    padding-left: 3px;
}



/* CALCULATOR PAGE STRUCTURE */
#calculatorTitle {
    color: #1f1c1c;
    font-weight: 300;
}
#formContainer {
    background-color: #Faf8f6;
}

#calculatorVisual {
    background-color: #FD5523;
}
#formContainer, #calculatorVisual {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 90vh;
    font-weight: 300;
}
#weightForm, #cubicInchForm, #squareInchForm, #volumeForm {
    align-items: center;
    justify-content: center;
    max-width: 500px;
    height: auto;
}
#calculatorPage {
    display: flex;
    flex-direction: row;  
    flex-wrap: nowrap;
    gap: 25px;
    align-items: center;
    height: auto;
}
button {
    font-family: "Roboto Mono", monospace;
    background-color: #Faf8f6;
    font-weight: normal;
    font-size: large;
    border: solid;
    border-radius: 4px;
    color: #FD5523;
    border-color: solid #Faf8f6;
    margin-bottom: 10px;
}
button:focus {
    color:#Faf8f6;
    background-color: #FD5523;
    border: solid #FD5523;
}
#buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
label {
    margin-bottom: 30px;
    margin-right: 20px;
    color: #1f1c1c;
}
input {
    width: 40vw;
    margin-bottom: 10px;
    margin-right: 20px;
    color: #1f1c1c;
    border-color:#1f1c1c;
    background-color: #Faf8f6;
}
.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #1f1c1c;
}
#resultBlock {
    background-color: #FD5523;
    width: 24vw;
    border-radius: 6px;
}
#visualBlock {
    border-radius: 6px;
    padding: 10px;
    width: 40vw;
}
img#visualBlock {
    max-width: 300px;
    max-height: 300px;
}

/* Shrink Rate Calculator */

/* Volume Calculator */

/* Firing Fee Calculator */

/*
@media screen and (max-width: 800px) {
    #weightForm, #volumeForm {
        align-items: center;
        justify-content: center;
        width: 35vw;
        flex-wrap: nowrap;
    }
    input, label {
        width: fit-content;
    }
    #header.responsive{
        position: relative;
    }
    #navContainer.responsive {
        position: relative;
    }
    #formContainer.responsive {
        position: relative;
    }
    #calculatorCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #heroSection {
        grid-template-columns: 1fr;
    }
    #heroSection2 {
        display: none;
    }
  }
  @media screen and (max-width: 999px) {
    #row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    }
}
  @media screen and (max-width: 1000px) {
    #calculatorPage {
        display: flex;
        flex-direction: column;  
        flex-wrap: wrap;
        align-items: center;
        height: auto;
    }
    #formContainer, #calculatorVisual {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: auto;
        font-weight: 300;
        flex-wrap: wrap;
    }
   #weightForm, #volumeForm {
        align-items: center;
        justify-content: center;
        width: 35vw;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 25px;
    }
    #heroH1 {
        font-size: 40px;
    }
}*/
@media screen and (max-width: 800px) {
    #header.responsive{
        position: relative;
    }
    #navContainer.responsive {
        position: relative;
    }
    #formContainer.responsive {
        position: relative;
    }
    #calculatorCards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #heroSection {
        grid-template-columns: 1fr;
    }
    #heroSection2 {
        display: none;
    }
  }
@media screen and (max-width: 400px) {
    h1 {
        font-size: 25px;
    }
    #heroH1 {
        font-size: 40px;
    }
@media screen and (max-width: 900px) {
    #formContainer {
        font-size: smaller;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
    }
    h2 {
        margin: 5px;
    }
    button {
        font-size: 12px;
    }
}